.education {
  background-color: #2b2b2b;
  color: #ebeeec;
  font-family: chalktastic, sans-serif;
  padding: 0 rem(50) rem(50) rem(50);
  margin-top: rem(50);
  position: relative;

  &__title {
    font-size: rem(60);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    list-style: none;

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
    }

    &-entry {
      width: 50%;
      padding-bottom: rem(16);

      @media (max-width: $tablet-breakpoint) {
        width: 100%;
      }
    }

    &-company {
      font-size: rem(32);
    }

    &-date,
    &-title {
      font-size: rem(24);
    }

    &-description {
      margin-left: rem(24);
      margin-right: rem(16);
      font-size: rem(20);
    }
  }
}