.map {
  padding: rem(20);

  &-title {
    padding: rem(20);
    text-align: center;
  }

  &-search {
    padding: rem(20);
    display: flex;
    justify-content: space-between;
  }

  &-results {
    width: 20%;
    padding: 0 rem(20);

    &__input {
      width: 100%;
    }

    &__button {
      padding: rem(20) 0;
      display: flex;
      justify-content: flex-end;
    }

    &__list {
      width: 25%;
    }
  }
}

#map {
  height: 600px;
  width: 75%;
}