.mortgage {
  padding-top: rem(100);
  padding-left: rem(100);
  padding-right: rem(100);

  &-calculator {
    background-color: #1976d2;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-input {
    width: 60%;
    background-color: #eee;
    padding: rem(50);

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-output {
    width: 40%;
    padding: rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-empty {
    font-size: rem(48);
    font-weight: 700;
    color: #eee;
    width: fit-content;
  }
  
  &-payment {
    color: #eee;
    font-weight: 700;
    text-align: right;
    
    &__amount {
      font-size: rem(72);
    }
  }
}