@function rem($val) {
  @return #{calc($val / 16)}rem;
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Share+Tech+Mono&display=swap');
@font-face {
  font-family: chalktastic;
  src: url('../assets/fonts/Chalktastic-x1nR.ttf');
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
  100% {
    opacity: 1;
	}
  0% {
    opacity: 0;
  }
}

$tablet-breakpoint: 768px;
$phone-breakpoint: 614px;

@import './_default';
@import './_home';
@import './_name';
@import './_name-card';
@import './_skill';
@import './_work-history';
@import './_new-work-history';
@import './_manage-work-history';
@import './_education';
@import './_new-education';
@import './_manage-education';
@import './_nav-bar';
@import './_about';
@import './_sample';
@import './_mortgage'
