@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Share+Tech+Mono&display=swap");
@font-face {
  font-family: chalktastic;
  src: url("../assets/fonts/Chalktastic-x1nR.ttf");
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: #00f;
  color: #fff;
  width: fit-content;
  min-width: 28.125rem;
  border-radius: 1.25rem;
  text-align: center;
  padding: 0.625rem;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem #000;
  transform: rotate(-15deg);
}
.name__hello {
  font-size: 3.125rem;
  font-weight: 700;
}
.name__text {
  font-size: 2rem;
}
.name__name {
  font-family: "Gochi Hand", cursive;
  font-size: 6.25rem;
  background-color: #fff;
  color: #000;
  padding: 0.625rem;
  border-radius: 1.25rem;
  margin-top: 0.625rem;
}
.name__container {
  padding: 3.125rem;
}

.skill {
  width: 50vw;
}
.skill__page {
  background-color: #eef;
  padding: 0 3.125rem;
  transform: rotate(2.5deg);
  box-shadow: 0.3125rem 0.3125rem 0.9375rem #000;
}
.skill__page-inner {
  border-left: 1px solid #da6a8d;
  margin-left: 3.125rem;
  padding: 3.125rem 0;
}
.skill__page-inner h2 {
  padding-left: 0.3125rem;
  font-family: "Gochi Hand", cursive;
  line-height: 1.875rem;
}
.skill__list {
  padding-left: 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.skill__list-item {
  font-family: "Gochi Hand", cursive;
  line-height: 1.875rem;
}
.skill__list-item-2 {
  width: 50%;
}
.skill__line {
  display: flex;
  flex-direction: column;
  margin-left: -8.125rem;
  width: 50vw;
  border-bottom: 1px solid #98b0b8;
  line-height: 3.125rem;
}

@keyframes cursor {
  0% {
    color: #000;
  }
  50% {
    color: #0f0;
  }
  100% {
    color: #000;
  }
}
.work-history {
  background-color: #dad1be;
  width: calc(100vw - 6.25rem);
  height: calc(100vh - 6.25rem);
  padding: 3.125rem;
  font-family: "Share Tech Mono", monospace;
  position: relative;
}
.work-history__monitor {
  border-width: 0.9375rem;
  border-color: #7a715e;
  border-style: inset;
  height: calc(100% - 1.875rem);
  background-color: #000;
  color: #0f0;
}
.work-history__monitor-screen {
  overflow: auto;
  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
  padding: 0 0 3.75rem 3.75rem;
  height: calc(100% - 3.125rem);
}
.work-history__cursor {
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.work-history__company {
  font-size: 3.75rem;
}
.work-history__list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  list-style: none;
}
.work-history__list-entry {
  width: 50%;
}
.work-history__list-company {
  font-size: 2rem;
}
.work-history__list-date, .work-history__list-title {
  font-size: 1.5rem;
}
.work-history__list-description {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.new-work-history {
  padding: 3.125rem;
}
.new-work-history__title {
  font-size: 3rem;
  text-align: center;
}

.manage-work-history__title {
  text-align: center;
}
.manage-work-history__li {
  margin-bottom: 3.125rem;
}
.manage-work-history__box {
  max-width: 37.5rem;
}
.manage-work-history__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.education {
  background-color: #2b2b2b;
  height: 100vh;
  width: 100vw;
  color: #ebeeec;
  font-family: chalktastic, sans-serif;
  padding: 3.125rem;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 5px 10px #222;
  padding-left: 3.125rem;
}
.nav-bar__name, .nav-bar__button {
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  box-shadow: inset 0 0 15px 15px #fff;
  border: none;
  font-size: 1rem;
  height: 2.5rem;
}
.nav-bar__name:hover, .nav-bar__button:hover {
  background-color: rgba(68, 68, 68, 0.3764705882);
}
.nav-bar__button {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */